In [1]:
import pandas as pd

In [29]:
pre_path = '../data/2.Preprocessed/'
old_path = '../data/3.Feature_Engineered/'
new_path = '../data/4.Merged/'

# 유저

In [54]:
users = pd.read_csv(pre_path + 'accounts_preprocessed.csv')
users

,account_id,last_login_dts,gender_M,gender_F,address_is_0,address_is_1,age_0,age_1,age_2,age_3,age_4,age_5,age_6
0,100986,2020-04-10 04:06:03.000000000,1,0,1,0,0,0,0,0,1,0,0
1,102793,2020-04-11 09:10:04.000000000,0,1,0,1,0,0,0,1,0,0,0
2,102960,2019-12-05 23:02:47.000000000,0,1,0,1,0,0,0,0,0,1,0
3,106535,2020-01-14 01:51:32.000000000,0,1,0,1,0,0,0,0,1,0,0
4,106783,2020-04-21 07:04:51.000000000,0,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668994,16983810,2020-06-10 06:22:49.696999936,0,1,0,1,0,0,1,0,0,0,0
1668995,16984005,2020-06-09 00:18:40.000000000,1,0,1,0,0,0,0,1,0,0,0
1668996,16987220,2020-06-08 13:17:30.000000000,1,0,0,1,0,0,0,0,1,0,0
1668997,16988602,2020-06-09 01:22:59.000000000,0,1,0,1,0,0,0,1,0,0,0
1668998,16990270,2020-06-10 10:15:40.000000000,0,1,0,1,0,0,1,0,0,0,0

In [55]:
userdf_mergelist = []

## 신구 선호도

### 주문 기반 신구 선호도

In [67]:
orders_newpref= pd.read_csv(old_path+'user_orders_new_preference.csv')

### 클릭 기반 신구 선호도

In [68]:
clicks_newpref = pd.read_csv(old_path+'user_click_new_preference.csv')

In [69]:
newpref = orders_newpref.copy()
newpref['new_preference'] = (0.7*orders_newpref['new_preference']) + (0.3 *clicks_newpref['new_preference'])

In [70]:
newpref

        account_id  new_preference
0           100004        0.107539
1           100033        0.395495
2           100039        0.084884
3           100040        1.000000
4           100058        0.067241
...            ...             ...
796387    16960360        0.751064
796388    16960378        0.000000
796389    16960382        0.000000
796390    16960413        1.000000
796391    16960430        0.000000

[796392 rows x 2 columns]

In [71]:
userdf_mergelist.append(newpref)

## 활동시간

In [72]:
user_click_acttime = pd.read_csv(old_path + 'user_click_activitytimes.csv')
userdf_mergelist.append(user_click_acttime)

## 카테고리 선호도

In [73]:
user_cate_pref = pd.read_csv(old_path + 'user_click_cat_preference.csv')
userdf_mergelist.append(user_cate_pref)

## 관여도

In [74]:
user_inv = pd.read_csv(old_path + 'user_involvement.csv')
userdf_mergelist.append(user_inv)

In [75]:
for df in userdf_mergelist:
    users = pd.merge(users, df, how='left', on='account_id')

In [77]:
users.to_csv(new_path + 'fed_users.csv', index=None)

# 책상품

In [44]:
products = pd.read_csv(pre_path+'products_preprocessed.csv')
products

,product_id,product_name,published_at,maker_name,pub_0,pub_1,pub_2,pub_3,pub_4,category_id_01,...,category_id_28,category_id_29,category_id_30,category_id_31,category_id_33,category_id_34,shop_price_0,shop_price_1,shop_price_2,shop_price_3
0,43528701,Slim 베스트 굿데이 성경 (개역개정4판/새찬송가합본/지퍼식/주석(단색)/반달색인...,2017-02-25 00:00:00,생명의말씀사,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,43528730,바이오메디컬 엔지니어를 위한 생체 신호 측정 실습,2017-06-26 00:00:00,계명대학교출판부,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,43528779,Slim 베스트 굿데이 성경 (개역개정4판/새찬송가합본/지퍼식/주석(단색)/반달색인...,2017-02-25 00:00:00,생명의말씀사,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,43528822,Slim 베스트 굿데이 성경 (개역개정4판/새찬송가합본/지퍼식/주석(단색)/반달색인...,2017-02-25 00:00:00,생명의말씀사,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,43528824,황종희가 꿈꾸는 도덕정치,2017-06-25 00:00:00,서울대학교출판문화원,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673525,85352665,2020 임성래의 쉽게 쓴 품질경영기사 필기,2020-01-06 00:00:00,성안당,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
1673526,85353942,파고다 HSK 5급 종합서 최신 개정판,2020-01-02 00:00:00,PAGODA Books,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1673527,85354052,2020 고시넷 2주완성 사회조사분석사 2급 필기,2020-01-10 00:00:00,고시넷,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
1673528,85354327,이시원의 영어 대모험 1 : 인칭대명사,2020-01-08 00:00:00,아울북,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1673529,85354780,민법공방,2019-12-30 00:00:00,윌비스,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1

## bestseller

In [49]:
pro_best = pd.read_csv(old_path + 'bestseller_product.csv')

In [50]:
pro_best

         product_id  best200  bestcat24
0          43528701        0          0
1          43528730        0          0
2          43528779        0          0
3          43528822        0          0
4          43528824        0          0
...             ...      ...        ...
1673525    85352665        0          0
1673526    85353942        0          0
1673527    85354052        0          0
1673528    85354327        0          0
1673529    85354780        0          0

[1673530 rows x 3 columns]

In [79]:
products = pd.merge(products, pro_best, how='left', on='product_id')

In [80]:
products.to_csv(new_path + 'fed_products.csv', index=None)